@import './reset.styl'

// 全局的通用样式
.container
  width 100%
  max-width 1120px
  margin 0 auto
  padding 0 16px

.FB1
  flex 1

.root-container
  min-height 100vh
  display flex
  flex-direction column

.loading-wrap,
.did-cath-wrap
  flex 1
  display flex
  justify-content center
  align-content center
  align-items center
  color #666
