.header-wrap
  height 48px
  line-height 48px
  box-shadow 0 2px 5px rgba(0, 0, 0, .15)
  .container
    display flex
    justify-content space-between
    align-items center
  .logo img
      width 30px
      height 30px
      vertical-align middle
  .link
    margin-left 10px
    transition all .25s
    text-decoration none
    &:hover,
    &:focus,
    &.active
      color #2a9af0
